/* styles.css */

:root {
/* CSS HEX */
--beige: rgb(255, 229, 151);
--berry-blush: #a23b72ff;
--carrot-orange: #f18f01ff;
--red-ochre: #c73e1dff;
--midnight-violet: #3b1f2bff;
}

body {
background-color: var(--beige);
}

h1 {
  font-family: "Shizuru", system-ui;
  color: var(midnight-violet);
}

p {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
}
