:root {
--beige: #f5ecd5;
--midnight-violet: #3d0324;
--blue: #383380;
}

body {
background-color: var(--beige);
}

h1 {
font-family: "Shizuru", system-ui;
color: var(--midnight-violet);
font-size: 36px;
}

p {
font-family: "Special Elite", system-ui;
color: var(--blue);
font-size: 17px;
}

ul li {
font-family: "Special Elite", system-ui;
color: var(--blue);
font-size: 17px;
}

h2 {
font-family: "Shizuru", system-ui;
color: var(--midnight-violet);
font-size: 22px;
}

.image {
    width: 300px;
    height: 400px;
}
